<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
      <link rel="stylesheet" href="{{url_for('static', filename='ranking.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='rankingview.css')}}">
  </head>
  <body>
    <div class="board_wrap">
      <div class="board_title">
        <strong>순위</strong>
        <p>운동 횟수 순위</p>
      </div>
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">순위</div>
            <div class="title">닉네임</div>

            <div class="date">기준일</div>
            <div class="count">조회</div>
          </div>
          <div>
            <div class="num">1</div>
            <div class="title">
              <a href="ranking.html">ky8958</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">2</div>
            <div class="title">
              <a href="ranking.html">wnstjq8958</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">3</div>
            <div class="title">
              <a href="ranking.html">qorrmsdn1</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">4</div>
            <div class="title">
              <a href="ranking.html">djadjadja12</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">5</div>
            <div class="title">
              <a href="ranking.html">qorgkqx12</a>
            </div>

            <div class="date">2022.6.9</div>
            <div class="count">10</div>
          </div>
        </div>
        <div class="board_page">
          <a href="#" class="bt first"><<</a>
          <a href="#" class="bt prev"><</a>
          <a href="#" class="num on">1</a>
          <a href="#" class="num">2</a>
          <a href="#" class="num">3</a>
          <a href="#" class="num">4</a>
          <a href="#" class="num">5</a>
          <a href="#" class="bt next">></a>
          <a href="#" class="bt last">>></a>
        </div>
      </div>
    </div>
  </body>
</html>
