<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
      <link rel="stylesheet" href="{{url_for('static', filename='ranking.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='rankingview.css')}}">
    <!-- 그래프 js-->
    <link rel="stylesheet" href="https://naver.github.io/billboard.js/release/latest/dist/theme/datalab.min.css">
    <script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.pkgd.min.js"></script>
    <!-- 그래프 js-->
    <title>운동의 민족</title>

</head>
<body>
<div class="wrap">
    <!-- Header start-->
    <div class="header">
        <h1><a href="/">운동의 민족</a></h1>
        <div class="nav">
            {% if g.user %}
            <ul class="navbar-nav">
                <li><a href="#">Training</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="/input">MyPage</a></li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">{{ g.user.user_name }} Loginout</a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li><a href="#">Training</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="/input">MyPage</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href=/signup>SignUp</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <!-- Header end-->

    <!-- Section start-->
    <div id="section">
        <div class="blank"></div>

        <!-- Fisrt section-->
        <div class="firstsection">
            <div class="myprofilearea">
                <div class="myprofile">
                    <p>마이 프로필</p>
                    <img src="image/profile.png" width="100">
                    <h3 class="username">사용자 이름 </h3>
                    <h4 class="email">abcdefg@naver.com</h4>
                    <p class="level">운동랭크</p>
                    <div class="badge"></div>
                    <p class="lastexercise">---<br>마지막으로 운동한 날</p>
                    <input type="button" value="프로필 수정하기" class="button" onclick="inputprofile();">
                    <a href="/ranking"></a> <input type="button" value="순위" class="button" >
                </div>

            </div>
            <div class="board_wrap">
      <div class="board_title">
        <strong>순위</strong>
        <p>운동 횟수 순위</p>
      </div>
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">순위</div>
            <div class="title">닉네임</div>

            <div class="date">기준일</div>
            <div class="count">조회</div>
          </div>
          <div>
            <div class="num">1</div>
            <div class="title">
              <a href="/rankingview">ky8958</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">2</div>
            <div class="title">
              <a href="/rankingview">wnstjq8958</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">3</div>
            <div class="title">
              <a href="/rankingview">qorrmsdn1</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">4</div>
            <div class="title">
              <a href="/rankingview">djadjadja12</a>
            </div>

            <div class="date">2021.6.9</div>
            <div class="count">10</div>
          </div>
          <div>
            <div class="num">5</div>
            <div class="title">
              <a href="/rankingview">qorgkqx12</a>
            </div>

            <div class="date">2022.6.9</div>
            <div class="count">10</div>
          </div>
        </div>
        <div class="board_page">
          <a href="#" class="bt first"><<</a>
          <a href="#" class="bt prev"><</a>
          <a href="#" class="num on">1</a>
          <a href="#" class="num">2</a>
          <a href="#" class="num">3</a>
          <a href="#" class="num">4</a>
          <a href="#" class="num">5</a>
          <a href="#" class="bt next">></a>
          <a href="#" class="bt last">>></a>
        </div>
      </div>
    </div>
        </div>

    </div>

</div>
</body>
</html>